.contacts {
  padding-top: 42px;

  @media (min-width: 660px) {
    padding-top: 47px;
  }

  @media (min-width: 1200px) {
    padding-top: 63px;
  }

  .container {
    margin-bottom: 34px;

    @media (min-width: 660px) {
      margin-bottom: 23px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 19px;
    }
  }
}

.contacts__title {
  margin: 0;
  color: #283645;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  margin-bottom: 34px;

  @media (min-width: 660px) {
    font-size: 40px;
    line-height: 51px;
  }

  @media (min-width: 1200px) {
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 38px;
  }
}

.contacts__content {
  font-style: normal;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  @media (min-width: 660px) {
    flex-direction: row;
    justify-content: center;
    gap: 0;
    row-gap: 36px;
    justify-content: space-around;
  }

  @media (min-width: 1200px) {
    align-items: flex-start;
  }
}

.contacts__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.contacts__phone {
  @media (min-width: 1200px) {
    order: 1;
  }
}

.contacts__address {

  @media (min-width: 1200px) {
    order: 2;
  }
}

.contacts__mail {
  @media (min-width: 1200px) {
    order: 3;
  }
}

.contacts__text {
  color: #283645;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;

  @media (min-width: 660px) {
    padding: 4px 0;
  }

  @media (min-width: 1200px) {
    margin-bottom: 17px;
  }
}

.contacts__link {
  color: #d22856;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;

  &[href] {
    &:hover {
      color: #283645;
      text-decoration-line: underline;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.contacts__map {
  position: relative;
  text-align: center;

  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    width: 0;
    height: 0;
    top: -1px;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-top: 34px solid #ffffff;

    @media (min-width: 660px) {
      border-left: 330px solid transparent;
      border-right: 330px solid transparent;
      border-top: 70px solid #ffffff;
    }

    @media (min-width: 1200px) {
      border-left: 600px solid transparent;
      border-right: 600px solid transparent;
      border-top: 105px solid #ffffff;
    }
  }
}

.contacts__map-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;
}
