.decoration--triangle {
  position: relative;

  &::after {
    position: absolute;
    bottom: -24px;

    display: block;

    width: 0;
    height: 0;

    content: "";

    border-top: 25px solid var(--white);
    border-right: calc(100vw - 17px) solid transparent;

    @media (min-width: 660px) {
      bottom: -44px;

      border-top: 45px solid var(--white);
    }

    @media (min-width: 1200px) {
      bottom: -139px;

      border-top: 140px solid var(--white);
    }
  }
}

.decoration--hit {
  &::before {
    position: absolute;
    top: 18px;
    left: -112px;

    width: 100%;
    height: 23px;

    content: "ХИТ";
    transform: rotate(-45deg);
    text-align: center;
    text-align: center;

    color: var(--white);
    background-color: var(--pink);

    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;

    @media (min-width: 660px) {
      top: 10px;
      left: -56px;
    }

    @media (min-width: 1200px) {
      top: 18px;
      left: -86px;
    }
  }
}
