.developer {
  display: flex;
  align-items: center;

  margin: 0;

  color: var(--midnight);

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  line-height: 18px;

  gap: 15px;

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

.developer__link {

  @media (min-width: 660px) {
    padding-top: 5px;
  }

  @media (min-width: 1200px) {
    padding-top: 3px;
  }

  svg {
    transition: fill 300ms ease, opacity 300ms ease;

    fill: var(--pink);

    &:hover {
      fill: var(--midnight);
    }

    &:active {
      opacity: 0.3;

      fill: var(--midnight);
    }
  }
}
