.intro {
  background: url("../img/intro-mobile.webp") center 110px no-repeat;

  @media (min-width: 660px) {
    background: url("../img/intro-tablet.webp") center 74px no-repeat;
  }

  @media (min-width: 1200px) {
    background: url("../img/intro-desktop.webp") center 98px no-repeat;
  }
}

.intro__text {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 24px;

  @media (min-width: 660px) {
    grid-template-columns: 300px;
    padding: 0 20px;
    padding-bottom: 114px;
    padding-top: 94px;
  }

  @media (min-width: 1200px) {
    padding: 0 130px;
    padding-top: 99px;
    padding-bottom: 125px;
  }
}

.intro__header {
  padding: 0 20px;
  margin-bottom: 314px;

  @media (min-width: 660px) {
    padding: 0 30px;
    margin-bottom: 30px;
  }

  @media (min-width: 1200px) {
    padding-top: 0;
    margin-bottom: 36px;
  }
}

.intro__title {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;

  @media (min-width: 660px) {
    font-size: 40px;
  }

  @media (min-width: 1200px) {
    font-size: 50px;
    line-height: normal;
  }
}

.intro__content {
  padding: 0 20px;
  padding-top: 28px;
  padding-bottom: 32px;
  background-color: #1d2631;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: 660px) {
    background-color: transparent;
    padding: 0;
  }
}

.intro__download {
  margin-bottom: 34px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  width: 100%;
  padding: 17.5px 20px;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 29px;

  &:hover {
    color: #d22856;
    background-color: #ffffff;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }

  @media (min-width: 660px) {
    font-weight: 700;
    margin-bottom: 46px;
  }

  @media (min-width: 1200px) {
    font-size: 21px;
    margin-bottom: 70px;
  }
}

.intro__links {
  margin: 0;
  margin-bottom: 19px;
  padding: 0 38px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 35px;

  @media (min-width: 660px) {
    margin-bottom: 32px;
    padding-left: 33px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.intro__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__description {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;

  @media (min-width: 660px) {
    font-size: 18px;
  }
}
