.logo {
  align-self: flex-start;

  padding: 22px 20px 14px 20px;

  svg {
    transition: fill 300ms ease, opacity 300ms ease;
    fill: var(--white);
  }

  &:hover {
    svg {
      fill: var(--pink);
    }
  }

  &:active {
    svg {
      opacity: 0.3;

      fill: var(--white);
    }
  }

  @media (min-width: 660px) {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  @media (min-width: 1200px) {
    padding-right: 0;
    padding-bottom: 43px;
    padding-left: 0;

    outline-offset: -2px;
  }
}

.logo__item-mobile {
  @media (min-width: 660px) {
    display: none;
  }
}

.logo__item-tablet {
  display: none;

  @media (min-width: 660px) {
    display: block;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.logo__item-desktop {
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}
