.navigation {
  .container {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    min-width: 320px;
    padding: 0;

    background-color: rgba(0, 0, 0, 0.3);

    &--open {
      background-color: var(--midnight);
    }

    @media (min-width: 1200px) {
      flex-direction: row;
      justify-content: space-between;

      padding: 0 130px;

      background-color: unset;
    }
  }

  @media (min-width: 1200px) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
