.page-footer {
  padding-top: 33px;
  padding-bottom: 36px;

  @media (min-width: 660px) {
    padding-top: 30px;
  }

  @media (min-width: 1200px) {
    padding-top: 62px;
    padding-bottom: 73px;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    row-gap: 38px;

    @media (min-width: 660px) {
      flex-direction: row;
      justify-content: space-between;

      gap: 0;
    }
  }

  .logo {
    align-self: center;

    padding: 0;

    @media (min-width: 660px) {
      align-self: flex-start;
    }

    svg {
      transition: fill 300ms ease, opacity 300ms ease;

      fill: var(--midnight);

      &:hover {
        fill: var(--pink);
      }

      &:active {
        opacity: 0.3;

        fill: var(--midnight);
      }
    }
  }

  .logo__item-tablet {
    display: block;

    @media (min-width: 1200px) {
      display: none;
    }
  }
}
