.page-catalog {
  .page-header {
    background-size: cover;
  }
}

.page-catalog__title {
  margin: 0;
  padding: 28px 30px 77px;

  text-align: center;

  color: #ffffff;

  font-size: 24px;
  font-weight: 300;
  line-height: 33px;

  @media (min-width: 660px) {
    padding-top: 66px;
    padding-bottom: 128px;

    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: 1200px) {
    padding-top: 59px;
    padding-right: 300px;
    padding-bottom: 89px;
    padding-left: 300px;
  }
}
