.price {
  background-color: #f2f2f2;
  padding-top: 79px;
  padding-bottom: 46px;

  @media (min-width: 660px) {
    padding-top: 20px;
    padding-bottom: 69px;
  }

  @media (min-width: 1200px) {
    padding-top: 70px;
    padding-bottom: 96px;
  }

  .container {
    padding: 0;

    @media (min-width: 660px) {
      padding: 0 20px;
      display: flex;
      justify-content: center;
    }

    @media (min-width: 1200px) {
      padding: 0 130px;
    }
  }

  .mobile-controls {
    @media (min-width: 660px) {
      display: none;
    }
  }
}

.price__slider {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 38px;

  @media (min-width: 660px) {
    display: none;
  }
}

.price__slider-item {
  width: 280px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 0;

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      border: 2px solid #e5e5e5;
    }

    th {
      position: relative;
      overflow: hidden;
      text-align: center;
      background-color: #283645;
      border-right: 2px solid #ffffff;
      border-left: 2px solid #ffffff;
      color: #ffffff;
      padding: 12px 20px 30px;
      border-top: none;

      p {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        margin: 0;
      }

      span {
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }

    td {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      height: 59px;
      padding: 13px 17px 15px 20px;

      p {
        margin: 0;
      }
    }
  }
}

.price__table {
  display: none;

  @media (min-width: 660px) {
    border-collapse: collapse;
    display: block;
  }

  td {
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
    width: 155px;
    height: 46px;
    padding: 0 17px;

    @media (min-width: 1200px) {
      width: 237px;
      height: 61px;
      padding: 0 23px;
    }
  }
}

.price__table-header {

  th:not(.hidden) {
    height: 75px;
    background-color: #283645;
    color: #ffffff;
    border: 2px solid #e5e5e5;
    padding: 10px 10px 9px;
    position: relative;
    overflow: hidden;

    @media (min-width: 1200px) {
      width: 240px;
      height: 100px;
    }
  }
}

.price__name {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

.price__value {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}

.price__row-name {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

.price__status {
  text-align: center;
}
