@charset "UTF-8";
:root {
  --pink: #d22856;
  --midnight: #283645;
  --black: #000000;
  --white: #ffffff;
  --light-gray: #f2f2f2;
  --mercury: #e5e5e5;
}

html {
  box-sizing: border-box;
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.container {
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 660px) {
  .container {
    min-width: 660px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 130px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.navigation .container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 320px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.navigation .container--open {
  background-color: var(--midnight);
}
@media (min-width: 1200px) {
  .navigation .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 130px;
    background-color: unset;
  }
}
@media (min-width: 1200px) {
  .navigation {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.page-header {
  background-image: url("../img/header-bg-mobile.webp");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 486px) {
  .page-header {
    background-size: cover;
  }
}
@media (min-width: 660px) {
  .page-header {
    background-image: url("../img/header-bg-tablet.webp");
  }
}
@media (min-width: 1200px) {
  .page-header {
    background-image: url("../img/header-bg-desktop.webp");
  }
}

.logo {
  align-self: flex-start;
  padding: 22px 20px 14px 20px;
}
.logo svg {
  transition: fill 300ms ease, opacity 300ms ease;
}
.logo:hover svg {
  fill: var(--pink);
}
.logo:active svg {
  opacity: 0.3;
  fill: var(--white);
}
@media (min-width: 660px) {
  .logo {
    padding-top: 27px;
    padding-bottom: 43px;
  }
}
@media (min-width: 1200px) {
  .logo {
    padding-right: 0;
    padding-bottom: 43px;
    padding-left: 0;
    outline-offset: -2px;
  }
}
.logo svg {
  fill: var(--white);
}

@media (min-width: 660px) {
  .logo__item-mobile {
    display: none;
  }
}

.logo__item-tablet {
  display: none;
}
@media (min-width: 660px) {
  .logo__item-tablet {
    display: block;
  }
}
@media (min-width: 1200px) {
  .logo__item-tablet {
    display: none;
  }
}

.logo__item-desktop {
  display: none;
}
@media (min-width: 1200px) {
  .logo__item-desktop {
    display: block;
  }
}

.menu {
  position: absolute;
  top: 66px;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid var(--black);
  background-color: var(--midnight);
}
@media (min-width: 660px) {
  .menu {
    top: 105px;
  }
}
@media (min-width: 1200px) {
  .menu {
    position: static;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: auto;
    max-width: 750px;
    padding-top: 45px;
    padding-bottom: 45px;
    border: none;
    background-color: unset;
    gap: 79.5px;
  }
}

.menu--opened {
  display: flex;
}

.menu__link {
  display: block;
  padding: 15px 20px;
  transition: color 300ms ease, opacity 300ms ease;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}
@media (min-width: 1200px) {
  .menu__link {
    padding: 0;
    text-transform: none;
    border: none;
    font-weight: 400;
    line-height: 18px;
  }
  .menu__link--active {
    text-decoration: underline;
    text-underline-offset: 13px;
    text-decoration-thickness: 2px;
  }
}
.menu__link[href]:hover {
  cursor: pointer;
  color: var(--pink);
}
.menu__link[href]:active {
  opacity: 0.3;
  color: var(--white);
}

.menu__toggle {
  position: absolute;
  top: 21px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media (min-width: 660px) {
  .menu__toggle {
    top: 43px;
    right: 20px;
  }
}
@media (min-width: 1200px) {
  .menu__toggle {
    display: none;
  }
}
.menu__toggle svg {
  transition: fill 300ms ease, opacity 300ms ease;
  fill: var(--white);
}
.menu__toggle svg:hover {
  cursor: pointer;
  fill: var(--pink);
}
.menu__toggle svg:active {
  opacity: 0.3;
  fill: var(--pink);
}

.menu__toggle-item {
  fill: var(--white);
}

.intro {
  background: url("../img/intro-mobile.webp") center 110px no-repeat;
}
@media (min-width: 660px) {
  .intro {
    background: url("../img/intro-tablet.webp") center 74px no-repeat;
  }
}
@media (min-width: 1200px) {
  .intro {
    background: url("../img/intro-desktop.webp") center 98px no-repeat;
  }
}

.intro__text {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 24px;
  grid-template-columns: 1fr;
}
@media (min-width: 660px) {
  .intro__text {
    padding: 0 20px;
    padding-top: 94px;
    padding-bottom: 114px;
    grid-template-columns: 300px;
  }
}
@media (min-width: 1200px) {
  .intro__text {
    padding: 0 130px;
    padding-top: 99px;
    padding-bottom: 127px;
  }
}

.intro__header {
  margin-bottom: 314px;
  padding: 0 20px;
}
@media (min-width: 660px) {
  .intro__header {
    margin-bottom: 30px;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .intro__header {
    margin-bottom: 34px;
    padding-top: 0;
  }
}

.intro__title {
  margin: 0;
  text-align: center;
  color: var(--white);
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
}
@media (min-width: 660px) {
  .intro__title {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .intro__title {
    font-size: 50px;
    line-height: normal;
  }
}

.intro__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px;
  padding-top: 28px;
  padding-bottom: 32px;
  background-color: #1d2631;
}
@media (min-width: 660px) {
  .intro__content {
    padding: 0;
    background-color: transparent;
  }
}

.intro__download {
  width: 100%;
  margin-bottom: 34px;
  padding: 17.5px 20px;
  transition: color 300ms ease, background-color 300ms ease;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 29px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.intro__download:hover {
  color: var(--pink);
  background-color: var(--white);
}
.intro__download:active {
  color: rgba(210, 40, 86, 0.3);
}
@media (min-width: 660px) {
  .intro__download {
    margin-bottom: 46px;
    font-weight: 700;
  }
}
@media (min-width: 1200px) {
  .intro__download {
    margin-bottom: 70px;
    font-size: 21px;
  }
}

.intro__links {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 19px;
  padding: 0 38px;
  list-style: none;
  gap: 35px;
}
@media (min-width: 660px) {
  .intro__links {
    margin-bottom: 32px;
    padding-left: 33px;
  }
}
@media (min-width: 1200px) {
  .intro__links {
    margin-bottom: 50px;
  }
}

.intro__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__description {
  margin: 0;
  text-align: center;
  color: var(--white);
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
@media (min-width: 660px) {
  .intro__description {
    font-size: 18px;
  }
}

.features {
  background-color: var(--light-gray);
}

.features__wrapper {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 660px) {
  .features__wrapper {
    min-width: 660px;
  }
}
@media (min-width: 1200px) {
  .features__wrapper {
    width: 1200px;
    padding: 0 130px;
  }
}

.features__title {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 36px;
  text-align: center;
  color: var(--midnight);
  background-color: var(--white);
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
}
@media (min-width: 660px) {
  .features__title {
    padding-top: 45px;
    padding-bottom: 33px;
    font-size: 40px;
    line-height: normal;
  }
}
@media (min-width: 1200px) {
  .features__title {
    padding-top: 62px;
    font-size: 50px;
  }
}
.features__title span {
  display: block;
}
.features__title span:first-child {
  margin-bottom: 30px;
}
@media (min-width: 660px) {
  .features__title span:first-child {
    margin-bottom: 0;
  }
}

.features__list {
  position: relative;
  z-index: 1;
  display: grid;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-top: 76px;
  padding-bottom: 318px;
  list-style: none;
  row-gap: 31px;
}
.features__list::after {
  position: absolute;
  bottom: -43px;
  width: 100%;
  height: 320px;
  content: "";
  background: url("../img/feature-mobile.webp") center no-repeat;
}
@media (min-width: 660px) {
  .features__list::after {
    top: 1px;
    bottom: 0;
    left: 0;
    width: 268px;
    height: 547px;
    background: url("../img/feature-tablet.webp") center no-repeat;
  }
}
@media (min-width: 1200px) {
  .features__list::after {
    display: none;
  }
}
@media (min-width: 660px) {
  .features__list {
    min-height: 482px;
    padding-top: 71px;
    padding-bottom: 43px;
    padding-left: 310px;
    row-gap: 34px;
  }
}
@media (min-width: 1200px) {
  .features__list {
    justify-content: space-between;
    padding-top: 324px;
    padding-right: 25px;
    padding-left: 25px;
    grid-template-columns: repeat(3, 252px);
  }
}

.features__item {
  position: relative;
  background-color: var(--light-gray);
}
@media (min-width: 1200px) {
  .features__item {
    padding-top: 56px;
  }
  .features__item::before {
    position: absolute;
    z-index: -1;
    top: -302px;
    left: -34px;
    display: block;
    width: 320px;
    height: 384px;
    content: "";
    background: url("../img/feature-desktop-1.webp") center no-repeat;
  }
}

@media (min-width: 1200px) {
  .features__item--two::before {
    background: url("../img/feature-desktop-2.webp") center no-repeat;
  }
}

@media (min-width: 1200px) {
  .features__item--three::before {
    background: url("../img/feature-desktop-3.webp") center no-repeat;
  }
}

.features__item-title {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
@media (min-width: 660px) {
  .features__item-title {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .features__item-title {
    margin-bottom: 22px;
    padding: 0 10px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }
}

.features__item-text {
  margin: 0;
  text-align: center;
  color: var(--midnight);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 660px) {
  .features__item-text {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .features__item-text {
    padding: 0 5px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}

.timer {
  display: none;
}
@media (min-width: 660px) {
  .timer {
    display: block;
  }
}
@media (min-width: 1200px) {
  .timer {
    background-color: var(--light-gray);
  }
}
.timer .container {
  display: grid;
  padding-top: 54px;
  padding-bottom: 59px;
  grid-template-columns: 238px 1fr;
  -moz-column-gap: 71px;
       column-gap: 71px;
}
@media (min-width: 1200px) {
  .timer .container {
    padding-top: 25px;
    padding-bottom: 67px;
    grid-template-columns: 298px 1fr;
  }
}

@media (min-width: 660px) {
  .timer__image {
    width: 238px;
    height: 276px;
  }
}
@media (min-width: 1200px) {
  .timer__image {
    width: 298px;
    height: 345px;
  }
}

.timer__text {
  padding-top: 42px;
}
@media (min-width: 1200px) {
  .timer__text {
    padding-top: 95px;
  }
}

.timer__title {
  margin: 0;
  margin-bottom: 10px;
  padding-right: 110px;
}
@media (min-width: 660px) {
  .timer__title {
    text-align: left;
    color: var(--black);
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }
}
@media (min-width: 1200px) {
  .timer__title {
    margin-bottom: 25px;
    color: var(--black);
    line-height: 30px;
  }
}

.timer__description {
  margin: 0;
  margin-bottom: 10px;
  padding-right: 5px;
  color: var(--midnight);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 1200px) {
  .timer__description {
    margin-bottom: 30px;
    color: var(--midnight);
    font-size: 18px;
    line-height: 30px;
  }
}
.timer__description br {
  display: none;
}
@media (min-width: 1200px) {
  .timer__description br {
    display: block;
  }
}

.timer__link {
  transition: color 300ms ease, opacity 300ms ease;
  color: var(--pink);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}
@media (min-width: 1200px) {
  .timer__link {
    color: var(--pink);
    font-size: 18px;
    line-height: 30px;
  }
}
.timer__link:hover {
  color: var(--midnight);
}
.timer__link:active {
  text-decoration: none;
  opacity: 0.3;
  color: var(--midnight);
}

.reviews {
  min-height: 344px;
}
@media (min-width: 660px) {
  .reviews {
    min-height: auto;
  }
}
.reviews .container {
  position: relative;
  padding-bottom: 35px;
}
@media (min-width: 660px) {
  .reviews .container {
    padding-bottom: 9px;
  }
}
@media (min-width: 1200px) {
  .reviews .container {
    padding-bottom: 33px;
  }
}

.reviews__list {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  padding-top: 41px;
  list-style: none;
}
@media (min-width: 660px) {
  .reviews__list {
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .reviews__list {
    position: relative;
    margin-bottom: 0;
    padding-top: 184px;
    padding-right: 100px;
    padding-left: 100px;
  }
  .reviews__list::before {
    position: absolute;
    top: 72px;
    left: 50%;
    display: block;
    width: 79px;
    height: 63px;
    margin-left: -39px;
    content: "";
    background: url("../img/quotes.svg") center no-repeat;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.reviews__item-author {
  margin: 0;
  margin-bottom: 13px;
  text-align: center;
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
@media (min-width: 660px) {
  .reviews__item-author {
    order: 1;
    margin: 0;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .reviews__item-author {
    margin-bottom: 2px;
    font-size: 24px;
  }
}

.reviews__item-info {
  display: none;
  margin: 0;
}
@media (min-width: 660px) {
  .reviews__item-info {
    display: block;
    order: 1;
    text-align: center;
    color: var(--midnight);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .reviews__item-info {
    font-size: 18px;
  }
}

.reviews__item-text {
  margin: 0;
  text-align: center;
  color: var(--midnight);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
@media (min-width: 660px) {
  .reviews__item-text {
    margin-bottom: 36px;
    font-size: 18px;
  }
}

.price {
  position: relative;
  padding-top: 99px;
  padding-bottom: 46px;
  background-color: var(--light-gray);
}
@media (min-width: 660px) {
  .price {
    padding-top: 100px;
    padding-bottom: 69px;
  }
}
@media (min-width: 1200px) {
  .price {
    padding-top: 154px;
    padding-bottom: 96px;
  }
}
.price::after {
  position: absolute;
  top: 0;
  display: block;
  width: 0;
  height: 0;
  content: "";
  border-top: 25px solid var(--white);
  border-right: calc(100vw - 17px) solid transparent;
}
@media (min-width: 660px) {
  .price::after {
    border-top: 45px solid var(--white);
  }
}
@media (min-width: 1200px) {
  .price::after {
    border-top: 140px solid var(--white);
  }
}
.price .container {
  padding: 0;
}
@media (min-width: 660px) {
  .price .container {
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .price .container {
    padding: 0 130px;
  }
}
@media (min-width: 660px) {
  .price .mobile-controls {
    display: none;
  }
}

.price__slider {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  list-style: none;
}
@media (min-width: 660px) {
  .price__slider {
    display: none;
  }
}

.price__slider-item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
  width: 280px;
}
.price__slider-item table {
  width: 100%;
  border-collapse: collapse;
}
.price__slider-item table tr {
  border: 2px solid var(--mercury);
}
.price__slider-item table th {
  position: relative;
  overflow: hidden;
  padding: 12px 20px 30px;
  text-align: center;
  color: var(--white);
  border-top: none;
  border-right: 2px solid var(--white);
  border-left: 2px solid var(--white);
  background-color: var(--midnight);
}
.price__slider-item table th p {
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
.price__slider-item table th span {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
}
.price__slider-item table td {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 59px;
  padding: 13px 17px 15px 20px;
  text-align: center;
  text-transform: uppercase;
}
.price__slider-item table td p {
  margin: 0;
}

.price__table {
  display: none;
}
@media (min-width: 660px) {
  .price__table {
    display: block;
    border-collapse: collapse;
  }
}
.price__table td {
  width: 155px;
  height: 46px;
  padding: 0 17px;
  border: 2px solid var(--mercury);
  background-color: var(--white);
}
@media (min-width: 1200px) {
  .price__table td {
    width: 237px;
    height: 61px;
    padding: 0 23px;
  }
}

.price__table-header th:not(.hidden) {
  position: relative;
  overflow: hidden;
  height: 75px;
  padding: 10px 10px 9px;
  color: var(--white);
  border: 2px solid var(--mercury);
  background-color: var(--midnight);
}
@media (min-width: 1200px) {
  .price__table-header th:not(.hidden) {
    width: 240px;
    height: 100px;
  }
}

.price__name {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
@media (min-width: 1200px) {
  .price__name {
    font-size: 18px;
  }
}

.price__value {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
@media (min-width: 1200px) {
  .price__value {
    font-size: 24px;
  }
}

.price__row-name {
  color: var(--midnight);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
@media (min-width: 1200px) {
  .price__row-name {
    font-size: 18px;
  }
}

.price__status {
  text-align: center;
}

.contacts {
  padding-top: 42px;
}
@media (min-width: 660px) {
  .contacts {
    padding-top: 47px;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding-top: 63px;
  }
}
.contacts .container {
  margin-bottom: 34px;
}
@media (min-width: 660px) {
  .contacts .container {
    margin-bottom: 23px;
  }
}
@media (min-width: 1200px) {
  .contacts .container {
    margin-bottom: 19px;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 34px;
  text-align: center;
  color: var(--midnight);
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
}
@media (min-width: 660px) {
  .contacts__title {
    font-size: 40px;
    line-height: 51px;
  }
}
@media (min-width: 1200px) {
  .contacts__title {
    margin-bottom: 38px;
    font-size: 50px;
    line-height: 65px;
  }
}

.contacts__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-style: normal;
  gap: 20px;
}
@media (min-width: 660px) {
  .contacts__content {
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
    row-gap: 36px;
  }
}
@media (min-width: 1200px) {
  .contacts__content {
    align-items: flex-start;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
}

@media (min-width: 1200px) {
  .contacts__phone {
    order: 1;
  }
}

@media (min-width: 1200px) {
  .contacts__address {
    order: 2;
  }
}

@media (min-width: 1200px) {
  .contacts__mail {
    order: 3;
  }
}

.contacts__text {
  text-align: center;
  color: var(--midnight);
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
@media (min-width: 660px) {
  .contacts__text {
    padding: 4px 0;
  }
}
@media (min-width: 1200px) {
  .contacts__text {
    margin-bottom: 17px;
  }
}

.contacts__link {
  position: relative;
  transition: color 300ms ease, opacity 300ms ease;
  text-align: center;
  text-decoration: none;
  color: var(--pink);
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}
.contacts__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  transition: opacity 300ms ease;
  opacity: 0;
  background-color: var(--midnight);
}
.contacts__link[href]:hover {
  color: var(--midnight);
}
.contacts__link[href]:active {
  opacity: 0.3;
}
.contacts__link[href]:active::after {
  display: none;
}
.contacts__link[href]:hover::after {
  opacity: 1;
}
.contacts__link[href]:not(:hover) {
  transition: color 300ms ease;
  color: var(--pink);
}

.contacts__map {
  position: relative;
  text-align: center;
}
.contacts__map::before {
  position: absolute;
  z-index: 1;
  top: -1px;
  width: 0;
  height: 0;
  content: "";
  border-top: 34px solid var(--white);
  border-right: 160px solid transparent;
  border-left: 160px solid transparent;
}
@media (min-width: 660px) {
  .contacts__map::before {
    border-top: 70px solid var(--white);
    border-right: 330px solid transparent;
    border-left: 330px solid transparent;
  }
}
@media (min-width: 1200px) {
  .contacts__map::before {
    border-top: 105px solid var(--white);
    border-right: 600px solid transparent;
    border-left: 600px solid transparent;
  }
}

.contacts__map-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -18px;
  margin-left: -18px;
}

.page-footer {
  padding-top: 33px;
  padding-bottom: 36px;
}
@media (min-width: 660px) {
  .page-footer {
    padding-top: 30px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding-top: 62px;
    padding-bottom: 73px;
  }
}
.page-footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 38px;
}
@media (min-width: 660px) {
  .page-footer .container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}
.page-footer .logo {
  align-self: center;
  padding: 0;
}
@media (min-width: 660px) {
  .page-footer .logo {
    align-self: flex-start;
  }
}
.page-footer .logo svg {
  transition: fill 300ms ease, opacity 300ms ease;
  fill: var(--midnight);
}
.page-footer .logo svg:hover {
  fill: var(--pink);
}
.page-footer .logo svg:active {
  opacity: 0.3;
  fill: var(--midnight);
}
.page-footer .logo__item-tablet {
  display: block;
}
@media (min-width: 1200px) {
  .page-footer .logo__item-tablet {
    display: none;
  }
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 8px;
}
@media (min-width: 660px) {
  .social {
    margin-left: -15px;
  }
}
@media (min-width: 1200px) {
  .social {
    margin-left: 8px;
    padding-top: 1px;
    gap: 5px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  transition: border-color 300ms ease, opacity 300ms ease;
  text-align: center;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}
.social__link:hover {
  border-color: var(--midnight);
}
.social__link:active {
  opacity: 0.1;
}

.social__link--facebook {
  padding-left: 1px;
}

.social__link--youtube {
  padding-left: 5px;
}

.developer {
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--midnight);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  line-height: 18px;
  gap: 15px;
}
@media (min-width: 1200px) {
  .developer {
    font-size: 18px;
  }
}

@media (min-width: 660px) {
  .developer__link {
    padding-top: 5px;
  }
}
@media (min-width: 1200px) {
  .developer__link {
    padding-top: 3px;
  }
}
.developer__link svg {
  transition: fill 300ms ease, opacity 300ms ease;
  fill: var(--pink);
}
.developer__link svg:hover {
  fill: var(--midnight);
}
.developer__link svg:active {
  opacity: 0.3;
  fill: var(--midnight);
}

.decoration--triangle {
  position: relative;
}
.decoration--triangle::after {
  position: absolute;
  bottom: -24px;
  display: block;
  width: 0;
  height: 0;
  content: "";
  border-top: 25px solid var(--white);
  border-right: calc(100vw - 17px) solid transparent;
}
@media (min-width: 660px) {
  .decoration--triangle::after {
    bottom: -44px;
    border-top: 45px solid var(--white);
  }
}
@media (min-width: 1200px) {
  .decoration--triangle::after {
    bottom: -139px;
    border-top: 140px solid var(--white);
  }
}

.decoration--hit::before {
  position: absolute;
  top: 18px;
  left: -112px;
  width: 100%;
  height: 23px;
  content: "ХИТ";
  transform: rotate(-45deg);
  text-align: center;
  text-align: center;
  color: var(--white);
  background-color: var(--pink);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 660px) {
  .decoration--hit::before {
    top: 10px;
    left: -56px;
  }
}
@media (min-width: 1200px) {
  .decoration--hit::before {
    top: 18px;
    left: -86px;
  }
}

.mobile-controls {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 60px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
@media (min-width: 1200px) {
  .mobile-controls {
    display: none;
  }
}

.mobile-controls__item {
  display: block;
  box-sizing: content-box;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);
}
.mobile-controls__item--active {
  border: 3.5px solid var(--midnight);
  border-radius: 50%;
  background-color: var(--white);
}

.mobile-controls__button {
  display: block;
  width: 6px;
  height: 6px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.desktop-controls {
  position: absolute;
  top: 213px;
  display: none;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1200px) {
  .desktop-controls {
    display: flex;
  }
}

.desktop-controls__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 41px;
  padding: 0;
  transition: opacity 300ms ease;
  opacity: 0.3;
  border: none;
  background-color: transparent;
}
.desktop-controls__button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.desktop-controls__button:active {
  opacity: 0.1;
}

.desktop-controls__item--next {
  transform: rotate(180deg);
}

.page-form .page-header {
  background-size: cover;
}

.page-form__title {
  margin: 0 auto;
  padding: 28px 30px 44px;
  max-width: 936px;
  text-align: center;
  color: var(--white);
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
}
@media (min-width: 660px) {
  .page-form__title {
    padding-top: 67px;
    padding-bottom: 59px;
    font-size: 50px;
    line-height: 68px;
  }
}
@media (min-width: 1200px) {
  .page-form__title {
    padding-top: 59px;
    padding-right: 90px;
    padding-bottom: 89px;
    padding-left: 90px;
  }
}

.form {
  padding-top: 44px;
  padding-bottom: 23px;
}
@media (min-width: 660px) {
  .form {
    padding-top: 90px;
    padding-bottom: 54px;
  }
}
@media (min-width: 1200px) {
  .form {
    padding-bottom: 8px;
  }
}

.form__title {
  margin: 0;
  padding: 0 20px;
  max-width: 936px;
  margin: 0 auto;
  text-align: center;
  color: var(--midnight);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.form__title span {
  display: none;
}
@media (min-width: 660px) {
  .form__title span {
    display: block;
  }
}
@media (min-width: 1200px) {
  .form__title span {
    display: inline;
  }
}
@media (min-width: 660px) {
  .form__title {
    padding-right: 85px;
    padding-left: 85px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .form__title {
    padding-right: 90px;
    padding-left: 90px;
  }
}

.form__footnote {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
@media (min-width: 660px) {
  .form__footnote {
    padding-top: 17px;
    text-align: right;
    grid-area: footnote;
  }
}
@media (min-width: 1200px) {
  .form__footnote {
    padding-top: 25px;
  }
}
.form__footnote strong {
  color: var(--pink);
}
.form__footnote span {
  display: none;
}
@media (min-width: 1200px) {
  .form__footnote span {
    display: inline;
  }
}

.main-form {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 35px;
}
@media (min-width: 660px) {
  .main-form {
    padding-top: 73px;
    padding-right: 20px;
    padding-left: 20px;
    grid-template-areas: "user-data user-data" "app app" "contacts contacts" "achievements achievements" "emotions emotions" "submit footnote";
  }
}
@media (min-width: 1200px) {
  .main-form {
    padding-right: 132px;
    padding-left: 132px;
    -moz-column-gap: 70px;
         column-gap: 70px;
    row-gap: 60px;
    grid-template-areas: "user-data app" "contacts contacts" "achievements achievements" "emotions emotions" "submit footnote";
  }
}

.main-form__fiedlset {
  margin: 0;
  padding: 0 20px;
}
@media (min-width: 660px) {
  .main-form__fiedlset {
    padding: 0;
  }
}

.main-form__fiedlset-user-data {
  padding-bottom: 42px;
  border: none;
}
@media (min-width: 660px) {
  .main-form__fiedlset-user-data {
    padding-bottom: 59px;
    grid-area: user-data;
  }
}
@media (min-width: 1200px) {
  .main-form__fiedlset-user-data {
    width: 433px;
    padding-top: 13px;
    padding-bottom: 0;
  }
}

.main-form__fiedlset-achievements {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 113px;
  padding-bottom: 44px;
  border: none;
  background-color: var(--light-gray);
  row-gap: 45px;
}
@media (min-width: 660px) {
  .main-form__fiedlset-achievements {
    margin-bottom: 59px;
    padding-top: 48px;
    padding-right: 59px;
    padding-bottom: 50px;
    padding-left: 59px;
    border: 2px solid var(--mercury);
    background-color: var(--white);
    grid-area: achievements;
  }
}
@media (min-width: 1200px) {
  .main-form__fiedlset-achievements {
    display: grid;
    margin-bottom: 0;
    padding-bottom: 58px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.main-form__fiedlset-achievements .main-form__fieldset-title {
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
}
@media (min-width: 660px) {
  .main-form__fiedlset-achievements .main-form__fieldset-title {
    position: static;
    width: auto;
  }
}
.main-form__fiedlset-achievements label {
  display: flex;
  align-items: center;
  align-self: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--midnight);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.main-form__fiedlset-achievements label:hover {
  cursor: pointer;
}
.main-form__fiedlset-achievements label:hover .main-form__checkbox {
  border-color: var(--midnight);
}
.main-form__fiedlset-achievements label:active .main-form__checkbox {
  border-color: var(--pink);
}

.main-form__fiedlset-contacts {
  padding-top: 32px;
  padding-bottom: 42px;
  border: none;
}
@media (min-width: 660px) {
  .main-form__fiedlset-contacts {
    margin-bottom: 59px;
    padding-top: 41px;
    padding-right: 57px;
    padding-bottom: 27px;
    padding-left: 57px;
    border: 2px solid var(--mercury);
    grid-area: contacts;
  }
}
@media (min-width: 1200px) {
  .main-form__fiedlset-contacts {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
    padding-top: 38px;
    padding-bottom: 12px;
  }
}
.main-form__fiedlset-contacts .main-form__fieldset-title {
  display: none;
}
@media (min-width: 660px) {
  .main-form__fiedlset-contacts .main-form__fieldset-title {
    display: block;
  }
}
@media (min-width: 660px) {
  .main-form__fiedlset-contacts label {
    position: relative;
    flex-direction: column-reverse;
    margin-bottom: 29px;
  }
  .main-form__fiedlset-contacts label:hover {
    cursor: pointer;
  }
  .main-form__fiedlset-contacts label:hover svg {
    transition: transform 300ms ease;
    transform: scale(1.2);
  }
  .main-form__fiedlset-contacts label span {
    margin-right: 0;
    padding-left: 19px;
  }
}
@media (min-width: 1200px) {
  .main-form__fiedlset-contacts label {
    flex-grow: 1;
    max-width: 371px;
    margin-bottom: 0;
  }
}
.main-form__fiedlset-contacts .main-form__input-text {
  width: 100%;
}
@media (min-width: 660px) {
  .main-form__fiedlset-contacts .main-form__input-text {
    margin-bottom: 10px;
  }
}

.main-form__icon {
  display: none;
}
@media (min-width: 660px) {
  .main-form__icon {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 59px;
    background-color: var(--mercury);
  }
  .main-form__icon:hover {
    cursor: pointer;
  }
  .main-form__icon:hover + .main-form__input-text {
    border-color: var(--midnight);
  }
}
@media (min-width: 1200px) {
  .main-form__icon {
    height: 60px;
  }
}

.main-form__fiedlset-app {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 110px;
  padding-bottom: 41px;
  border: none;
  background-color: var(--light-gray);
  row-gap: 36px;
}
@media (min-width: 660px) {
  .main-form__fiedlset-app {
    margin-bottom: 58px;
    padding-top: 48px;
    padding-right: 57px;
    padding-bottom: 54px;
    padding-left: 58px;
    border: 2px solid var(--mercury);
    background-color: var(--white);
    grid-area: app;
  }
}
@media (min-width: 1200px) {
  .main-form__fiedlset-app {
    justify-content: center;
    width: 431px;
    margin-bottom: 0;
    padding: 20px;
  }
}
.main-form__fiedlset-app .main-form__fieldset-title {
  position: absolute;
  top: 39px;
  left: 0;
  width: 100%;
}
@media (min-width: 660px) {
  .main-form__fiedlset-app .main-form__fieldset-title {
    position: static;
    width: auto;
  }
}
@media (min-width: 1200px) {
  .main-form__fiedlset-app .main-form__fieldset-title {
    padding: 0 20px;
  }
}
.main-form__fiedlset-app label {
  display: flex;
  align-items: center;
  align-self: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;
}
@media (min-width: 1200px) {
  .main-form__fiedlset-app label {
    margin-left: 55px;
  }
}
.main-form__fiedlset-app label:hover {
  cursor: pointer;
}
.main-form__fiedlset-app label:hover .main-form__radio {
  border-color: var(--midnight);
}
.main-form__fiedlset-app label:active .main-form__radio, .main-form__fiedlset-app label:focus .main-form__radio {
  border-color: var(--pink);
}

.main-form__fiedlset-emotions {
  position: relative;
  padding-top: 72px;
  padding-bottom: 41px;
  border: none;
}
@media (min-width: 660px) {
  .main-form__fiedlset-emotions {
    margin-bottom: 66px;
    padding-top: 41px;
    padding-right: 58px;
    padding-bottom: 44px;
    padding-left: 58px;
    border: 2px solid var(--mercury);
    grid-area: emotions;
  }
}
@media (min-width: 1200px) {
  .main-form__fiedlset-emotions {
    margin-bottom: 0;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.main-form__fiedlset-emotions .main-form__fieldset-title {
  position: absolute;
  top: 38px;
  left: 0;
  width: 100%;
}
@media (min-width: 660px) {
  .main-form__fiedlset-emotions .main-form__fieldset-title {
    position: static;
    width: auto;
  }
}

.main-form__fieldset-title {
  margin: 0;
  margin-bottom: -5px;
  padding: 0 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--pink);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.main-form__label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 17px;
  text-transform: uppercase;
  color: var(--pink);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.main-form__label:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 660px) {
  .main-form__label {
    align-items: baseline;
    flex-direction: row;
    margin-bottom: 52px;
  }
}
.main-form__label span {
  margin-bottom: 5px;
  padding-left: 23px;
}
.main-form__label span:hover {
  cursor: pointer;
}
@media (min-width: 660px) {
  .main-form__label span {
    margin-right: 22px;
    margin-bottom: 0;
    padding-left: 0;
  }
}

.main-form__input-text {
  height: 63px;
  padding: 10px;
  padding-left: 20px;
  transition: border-color 300ms ease, outline 300ms ease;
  color: var(--midnight);
  border: 2px solid var(--mercury);
  border-radius: 1px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 167%;
}
.main-form__input-text:hover {
  border-color: var(--midnight);
}
.main-form__input-text:focus {
  outline-color: var(--pink);
}
@media (min-width: 660px) {
  .main-form__input-text {
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .main-form__input-text {
    outline-offset: 2px;
  }
}

.main-form__checkbox {
  width: 37px;
  height: 37px;
  margin: 0;
  margin-right: 22px;
  transition: border-color 300ms ease;
  border: 2px solid var(--mercury);
  border-radius: 1px;
}
@media (min-width: 660px) {
  .main-form__checkbox {
    margin-right: 21px;
  }
}

input[type=checkbox]:checked + .main-form__checkbox {
  background: url("../img/checkbox-mark.svg") center no-repeat;
}

input[type=checkbox]:focus-visible + .main-form__checkbox {
  outline: auto;
}

.main-form__radio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  margin: 0;
  margin-right: 31px;
  transition: border-color 300ms ease;
  border: 2px solid var(--mercury);
  border-radius: 50%;
  background-color: var(--white);
}
@media (min-width: 660px) {
  .main-form__radio {
    margin-right: 22px;
  }
}

input[type=radio]:checked + .main-form__radio::before {
  display: block;
  width: 15px;
  height: 15px;
  content: "";
  border-radius: 50%;
  background-color: var(--pink);
}

input[type=radio]:focus-visible + .main-form__radio {
  outline: auto;
}

.main-form__textarea {
  width: 100%;
  max-width: 781px;
  min-height: 201px;
  padding: 20px;
  padding-top: 13px;
  transition: border-color 300ms ease, outline 300ms ease;
  border: 2px solid var(--mercury);
  border-radius: 1px;
  border-radius: 1px;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
}
.main-form__textarea:hover {
  border-color: var(--midnight);
}
.main-form__textarea:active {
  outline-color: var(--pink);
}
@media (min-width: 660px) {
  .main-form__textarea {
    min-height: 193px;
    padding-top: 14px;
  }
}
@media (min-width: 1200px) {
  .main-form__textarea {
    min-height: 126px;
  }
}

.main-form__submit {
  display: inline-block;
  width: calc(100% - 40px);
  min-width: 280px;
  margin: 0 auto;
  margin-bottom: 34px;
  padding-top: 16px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;
  transition: background-color 300ms ease, color 300ms ease;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  border: none;
  border-radius: 1px;
  background-color: #2aab6d;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
@media (min-width: 660px) {
  .main-form__submit {
    width: 300px;
    margin: 0;
    grid-area: submit;
  }
}
@media (min-width: 1200px) {
  .main-form__submit {
    margin-top: 9px;
  }
}
.main-form__submit:hover {
  cursor: pointer;
  background-color: #1c9b5e;
}
.main-form__submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #1c9b5e;
}
.main-form__submit:disabled {
  background-color: var(--mercury);
}

.page-catalog .page-header {
  background-size: cover;
}
.page-catalog .page-footer {
  padding-top: 40px;
}
@media (min-width: 660px) {
  .page-catalog .page-footer {
    padding-top: 36px;
  }
}
@media (min-width: 1200px) {
  .page-catalog .page-footer {
    padding-top: 98px;
    padding-bottom: 72px;
  }
}

.page-catalog__title {
  margin: 0;
  padding: 28px 30px 77px;
  text-align: center;
  color: var(--white);
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
}
@media (min-width: 660px) {
  .page-catalog__title {
    padding-top: 66px;
    padding-bottom: 128px;
    font-size: 50px;
    line-height: 68px;
  }
}
@media (min-width: 1200px) {
  .page-catalog__title {
    padding-top: 59px;
    padding-right: 300px;
    padding-bottom: 89px;
    padding-left: 300px;
  }
}

.catalog__title {
  margin: 0;
  padding-top: 44px;
  padding-right: 35px;
  padding-bottom: 50px;
  padding-left: 35px;
  text-align: center;
  color: var(--midnight);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
@media (min-width: 660px) {
  .catalog__title {
    padding-top: 92px;
    padding-right: 100px;
    padding-bottom: 76px;
    padding-left: 100px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .catalog__title {
    padding-right: 300px;
    padding-bottom: 88px;
    padding-left: 300px;
  }
}

.catalog-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  row-gap: 20px;
}
@media (min-width: 620px) {
  .catalog-list {
    align-content: stretch;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (min-width: 1200px) {
  .catalog-list {
    row-gap: 50px;
  }
}

.catalog-list__item {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
}
@media (min-width: 660px) {
  .catalog-list__item {
    width: calc(50% - 30px);
  }
}
@media (min-width: 1200px) {
  .catalog-list__item {
    width: 300px;
    margin-bottom: 4px;
  }
}

.catalog-list__item--of-the-day {
  width: 100%;
}
@media (min-width: 660px) {
  .catalog-list__item--of-the-day {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .catalog-list__item--of-the-day {
    margin: 0;
  }
}
.catalog-list__item--of-the-day .catalog-list__picture {
  position: relative;
  height: 137px;
}
@media (min-width: 660px) {
  .catalog-list__item--of-the-day .catalog-list__picture {
    height: 509px;
  }
}
@media (min-width: 1200px) {
  .catalog-list__item--of-the-day .catalog-list__picture {
    height: 506px;
  }
}
.catalog-list__item--of-the-day .catalog-list__picture::before {
  position: absolute;
  top: 0;
  right: 20px;
  display: block;
  width: 140px;
  height: 36px;
  padding: 6px 10px;
  content: "ПАНОРАМА ДНЯ";
  text-align: center;
  color: var(--white);
  background-color: var(--pink);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
}
@media (min-width: 660px) {
  .catalog-list__item--of-the-day .catalog-list__picture::before {
    top: 57px;
  }
}
@media (min-width: 1200px) {
  .catalog-list__item--of-the-day .catalog-list__picture::before {
    top: 54px;
    right: 130px;
  }
}
.catalog-list__item--of-the-day .catalog-list__item-text {
  width: calc(100% - 40px);
  margin: 0 auto;
}
@media (min-width: 660px) {
  .catalog-list__item--of-the-day .catalog-list__item-text {
    display: grid;
    min-height: auto;
    padding-top: 23px;
    padding-right: 30px;
    padding-bottom: 24px;
    padding-left: 30px;
    grid-template-areas: "author like" "comment comment";
  }
}
@media (min-width: 1200px) {
  .catalog-list__item--of-the-day .catalog-list__item-text {
    width: calc(100% - 260px);
    padding-bottom: 23px;
  }
}
.catalog-list__item--of-the-day .catalog-list__item-header {
  grid-area: author;
}
.catalog-list__item--of-the-day .catalog-list__item-comment {
  grid-area: comment;
}
@media (min-width: 660px) {
  .catalog-list__item--of-the-day .catalog-list__item-comment {
    margin-bottom: 0;
  }
}
.catalog-list__item--of-the-day .catalog-list__item-like {
  grid-area: like;
  justify-self: end;
}
@media (min-width: 660px) {
  .catalog-list__item--of-the-day .catalog-list__item-like {
    display: flex;
    padding-top: 2px;
  }
}
@media (min-width: 660px) {
  .catalog-list__item--of-the-day .catalog-list__item-like-counter-text {
    margin-right: 16px;
  }
}

.catalog-list__picture {
  display: block;
  width: 100%;
  height: 180px;
}
@media (min-width: 660px) {
  .catalog-list__picture {
    height: 300px;
  }
}
@media (min-width: 1200px) {
  .catalog-list__picture {
    height: 400px;
  }
}

.catalog-list__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog-list__item-text {
  flex-grow: 1;
  padding-top: 18px;
  padding-right: 9px;
  padding-bottom: 18px;
  padding-left: 18px;
  background: var(--light-gray);
}
@media (min-width: 660px) {
  .catalog-list__item-text {
    display: flex;
    flex-direction: column;
    min-height: 155px;
    padding-top: 23px;
    padding-right: 30px;
    padding-bottom: 24px;
    padding-left: 30px;
  }
}

.catalog-list__item-author {
  color: var(--midnight);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-list__item-time {
  text-transform: uppercase;
  color: var(--midnight);
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}

.catalog-list__item-comment {
  margin-bottom: 11px;
  color: var(--midnight);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.catalog-list__item-like {
  display: flex;
}
@media (min-width: 660px) {
  .catalog-list__item-like {
    margin-top: auto;
  }
}

.catalog-list__item-like-icon {
  margin-right: 18px;
}
.catalog-list__item-like-icon:hover {
  cursor: pointer;
}
@media (min-width: 660px) {
  .catalog-list__item-like-icon {
    order: 1;
    margin-right: 0;
  }
}

.catalog-list__item-like-counter-text {
  text-transform: uppercase;
  color: var(--pink);
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 660px) {
  .catalog-list__item-like-counter-text {
    margin-right: auto;
  }
}

.filter {
  background-color: var(--light-gray);
}

.filter__title {
  padding-top: 43px;
  padding-bottom: 42px;
  text-align: center;
  color: var(--midnight);
  background-color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
@media (min-width: 660px) {
  .filter__title {
    padding-top: 64px;
    padding-bottom: 70px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .filter__title {
    padding-top: 54px;
    padding-bottom: 67px;
  }
}

.filter__container {
  display: grid;
  padding-top: 20px;
  padding-bottom: 41px;
}
@media (min-width: 660px) {
  .filter__container {
    padding-top: 41px;
    padding-right: 20px;
    padding-bottom: 54px;
    padding-left: 20px;
    grid-template-columns: 300px 1fr;
    -moz-column-gap: 47px;
         column-gap: 47px;
    grid-template-areas: "image controls" "image buttons";
  }
}
@media (min-width: 1200px) {
  .filter__container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 190px;
    padding-bottom: 57px;
    padding-left: 210px;
    -moz-column-gap: 88px;
         column-gap: 88px;
  }
}

.filter__image {
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 660px) {
  .filter__image {
    width: 300px;
    height: 400px;
    margin: 0;
    margin-top: 16px;
    padding: 0;
    grid-area: image;
  }
}

.filter__image-item {
  display: block;
  width: 100%;
  height: 100%;
}

.filter__settings {
  padding-bottom: 34px;
  border-bottom: 1px solid rgba(40, 54, 69, 0.1);
}
@media (min-width: 660px) {
  .filter__settings {
    align-self: start;
    padding: 0;
    border: none;
  }
}

.filter__settings-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 37px;
  padding-right: 61px;
  padding-left: 55px;
  list-style: none;
}
@media (min-width: 660px) {
  .filter__settings-list {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 660px) {
  .filter__settings-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 72px;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  }
  .filter__settings-item svg {
    fill: var(--pink);
  }
}
.filter__settings-item:first-of-type {
  margin-right: 5px;
}
@media (min-width: 660px) {
  .filter__settings-item:first-of-type {
    margin-right: 0;
  }
}
.filter__settings-item--active svg {
  fill: var(--pink);
}

.filter__settings-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  fill: rgba(40, 54, 69, 0.3);
}
@media (min-width: 660px) {
  .filter__settings-icon {
    flex-shrink: 0;
    width: 27px;
    height: 24px;
    margin-right: 28px;
  }
}
@media (min-width: 1200px) {
  .filter__settings-icon {
    width: 48px;
    height: 44px;
    margin-right: 46px;
  }
}

.filter__settings-crop {
  width: 44px;
  height: 44px;
}
@media (min-width: 660px) {
  .filter__settings-crop {
    width: 22px;
    height: 22px;
  }
}
@media (min-width: 1200px) {
  .filter__settings-crop {
    width: 44px;
    height: 44px;
  }
}

.filter__settings-fill {
  width: 48px;
  height: 43px;
}
@media (min-width: 660px) {
  .filter__settings-fill {
    width: 24px;
    height: 22px;
  }
}
@media (min-width: 1200px) {
  .filter__settings-fill {
    width: 48px;
    height: 43px;
  }
}

.filter__settings-contrast {
  width: 32px;
  height: 32px;
}
@media (min-width: 660px) {
  .filter__settings-contrast {
    width: 16px;
    height: 16px;
  }
}
@media (min-width: 1200px) {
  .filter__settings-contrast {
    width: 32px;
    height: 32px;
  }
}

.filter__settings-range {
  position: relative;
  display: none;
  width: calc(100% - 80px);
  height: 2px;
  margin: 0 auto;
  background-color: var(--midnight);
}
@media (min-width: 660px) {
  .filter__settings-range {
    display: block;
    width: 100%;
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .filter__settings-range {
    margin-right: 30px;
  }
}
.filter__settings-range--mobile {
  display: block;
}
@media (min-width: 660px) {
  .filter__settings-range--mobile {
    display: none;
  }
}

.filter__settings-pin {
  position: absolute;
  top: -5px;
  right: 33px;
  width: 14px;
  height: 14px;
  padding: 0;
  transition: background-color 300ms ease;
  border: 2px solid var(--pink);
  border-radius: 50%;
}
.filter__settings-pin:hover {
  cursor: pointer;
  background-color: var(--pink);
}

.filter__buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 38px;
  padding-right: 20px;
  padding-left: 20px;
  row-gap: 12px;
}
@media (min-width: 660px) {
  .filter__buttons {
    align-self: end;
    padding: 0;
    padding-right: 13px;
    row-gap: 24px;
    grid-area: buttons;
  }
}
@media (min-width: 1200px) {
  .filter__buttons {
    flex-direction: row;
    justify-content: space-between;
    width: 409px;
    padding: 0;
  }
}

.filter__buttons-item {
  height: 55px;
  padding: 10px 20px;
  transition: color 300ms ease, background-color 300ms ease, border-color 300ms ease;
  text-align: center;
  color: var(--pink);
  border: 3px solid var(--pink);
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.filter__buttons-item:hover {
  cursor: pointer;
}
@media (min-width: 1200px) {
  .filter__buttons-item {
    width: 183px;
  }
}

.filter__buttons-item--submit:hover {
  color: var(--white);
  background-color: var(--pink);
}
.filter__buttons-item--submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter__buttons-item--cancel {
  color: rgba(40, 54, 69, 0.1);
  border-color: rgba(40, 54, 69, 0.1);
}
.filter__buttons-item--cancel:hover {
  color: rgba(40, 54, 69, 0.3);
  border-color: rgba(40, 54, 69, 0.3);
}
.filter__buttons-item--cancel:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(40, 54, 69, 0.3);
}

.modals {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.modals--hidden {
  display: none;
}
.modals--active {
  display: block;
}

.modals__item {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: none;
  width: 320px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 52px;
  background-color: var(--white);
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}
.modals__item--success {
  padding-bottom: 0;
}
.modals__item--hidden {
  display: none;
}
.modals__item--active {
  display: block;
}
@media (min-width: 660px) {
  .modals__item {
    width: 460px;
  }
}
@media (min-width: 1200px) {
  .modals__item {
    width: 780px;
    padding-bottom: 0;
  }
}

.modals__title {
  margin: 0;
  margin-bottom: 24px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
@media (min-width: 660px) {
  .modals__title {
    font-size: 30px;
    line-height: 40px;
  }
}

.modals__text {
  margin: 0;
  margin-bottom: 45px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  color: var(--midnight);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 660px) {
  .modals__text {
    font-size: 18px;
  }
}

.modals__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
}
@media (min-width: 1200px) {
  .modals__wrapper {
    padding-top: 54px;
    padding-bottom: 54px;
    background-color: var(--light-gray);
  }
}

.modals__item--success .modals__wrapper {
  padding-top: 54px;
  padding-bottom: 54px;
  background-color: var(--light-gray);
}

.modals__button {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 59px;
  padding: 10px 20px;
  transition: background-color 300ms ease, color 300ms ease;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  border: none;
  border-radius: 1px;
  background-color: #2aab6d;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.modals__button:hover {
  cursor: pointer;
  background-color: #1c9b5e;
}
.modals__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #1c9b5e;
}
.modals__button:disabled {
  cursor: auto;
  background-color: var(--mercury);
}/*# sourceMappingURL=style.css.map */